@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --color-bg: rgba(0, 0, 0, 0.3); /* effet overlay semi-transparent */
  --color-bg-dark: rgba(20, 20, 20, 0.5);
  --color-text: rgba(255, 255, 255, 0.9);
  --color-border: rgba(255, 255, 255, 0.2);
  --sci-fi-glow: 0 0 8px rgba(0, 255, 255, 0.6);
  
  font-family: 'Orbitron', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;


}



body {
  margin: 0;
  min-height: 100vh;
  background: transparent;
  color: var(--color-text);
  display: flex;
  place-items: center;
}

h1, h2, h3 {
  text-shadow: var(--sci-fi-glow);
}
